.visually-hidden.skip-link {

	/* Ensure the link is visible when focused or active */
	&:focus,
	&:active {
		width: auto;
		height: auto;
		clip: auto;
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		overflow: visible;
		background-color: #fff;
		padding: 0.5rem;
		font-weight: 700;
		color: var(--clr-neutral--900);
	}
}
